@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    min-height: 100vh;
    background: url(https://source.unsplash.com/featured/nature);
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    background-size:cover;
    background-position:top;
    color: #fff;
    overflow: none;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
}